.portfolio__container{
    grid-template-columns: repeat(3, 270px);
    justify-content: center;
    column-gap: 1.8rem;
}

.portfolio__content{
    position: relative;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: var(--container-color);
    padding: 6rem 0 2rem 2.5rem;
}

.portfolio__icon{
    display: block;
    font-size: 2rem;
    color: var(--title-color);
    margin-bottom: var(--mb-1);
}

.portfolio__title{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);
}

.portfolio__button{
    color: var(--title-color);
    font-size: var(--small-font-size);
    display: inline-flex;
    align-items: center;
    columns: 0.25rem;
    cursor: pointer;
}

.portfolio__modal{
    display: none;
}

@media screen and (max-width:968px){
    .portfolio__container{
        grid-template-columns: repeat(2, 270px);
    }

}

@media screen and (max-width:580px){
    .portfolio__container{
        grid-template-columns: repeat(1, 270px);
    }
}