.skills__container{
    /* grid-template-columns: repeat(2,350px);
    column-gap: 2rem; */
    justify-content: center;
    align-items: center;
    display: flex;
}

.skills__content{
    background-color: var(--container-color);
    border: 1px solid rgba(0,0,0,0.1);
    padding: 2rem 4rem;
    border-radius: 1.25rem;
    min-width: 300px;
}

.skills__title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--mb-1-5);
}

.skills__box{
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}

.skills__group{
    display: grid;
    align-items: flex-start;
    row-gap: 1rem;
    justify-content: left;
    align-items: left;
}

.skills__data{
    display: flex;
    column-gap: 0.5rem;
    /* justify-content: center; */
    align-items: center;
}

.skills .bx-badge-check{
    font-size: 1rem;
    columns: var(--title-color);
}

.skills__name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 18px;
}

.skills__level{
    font-size: var(--tiny-font-size);
}

/* @media screen and (max-width: 992px) {
    .skills__container{
        grid-template-columns: max-content;
        row-gap: 2rem;
    }
}
@media screen and (max-width: 576px) {
    .skills__container{
        grid-template-columns: 1fr;
    }

    .skills__content{
        padding: 1.5rem;
        min-width: 200px;
    }
}
@media screen and (max-width: 350px) {
    .skills__box{
        column-gap: 1.25rem;
    }

    .skills__name{
        font-size: var(--small-font-size);
    }
} */

.skills__data .bx{
    font-size: 40px;
    /* color: #3c3c3c; */
}
.bg-spring-boot{
    color: #629b2d;
}
.bg-java{
    color: #d65d00 !important;
}
.bg-php{
    color: #0061e9 !important;
}
.bg-react{
    color: #009cfd !important;
}
.bg-bootstrap{
    color: #6300ef !important;
}
.bg-javascript{
    color: #eee132 !important;
}
.bg-jquery{
    color: #0061e9 !important;
}
.bg-data{
    color: #ffffff !important;
}
.bg-data{
    color: #00a2f3 !important;
}
.bg-category-alt{
    color: #ffa600 !important;
}
.bg-aws{
    color: #ff6600 !important;
}
.bg-github{
    color: #ffffff !important;
}
.bg-component{
    color: #17559c !important;
}
.bg-hard-hat{
    color: #ffe100 !important;
}
.bg-hibernate{
    color: #d8b400 !important;
}
.bg-Kafka{
    color: #565656 !important;
}
.skills-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    
}
.skills-card-main{
    align-items: center;
    margin: 10px;
    padding: 10px 0px;
    background-color: #0000003a;
    border-radius: 10px;
    width: 130px;
    text-align: center;
}
.skill_icon_top{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin-top: 10px;
}
.skills__name_title{
    margin-top: 15px;
    font-size: 1rem;
}